<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>FFCHS8</title>
</head>
<body>
    <h1 class="mainHead">FFCHS8</h1>
    <div>
        <a href="/astrox" class="picture">
            Schoology
        </a>
    </div>

    <div>
        <button class="homeButton" onclick="window.location.href='/faq';">Trojan News</button>
    </div>

    <footer>
        <p>Powered by LightSpeed Systems, filtering over 3,523,867 websites.</p>
    </footer>

    <script src="/assets/index.js"></script>
</body>
</html>
