<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>FFCHS8 - Tab Spoofer</title>
</head>
<body>
    <h1 class="mainHead">Tab Spoofer</h1>

    <div>
        <input class="settingsInput" id="tabtitle" placeholder="Ex: Google Classroom" autocomplete="on"></input>
        <button class="settingsButton" onclick="tabtitle()" name="cloakButton">Title</button>
        <button class="settingsButton" onclick="tabicon()" name="cloakButton">Icon</button>
        <button class="settingsButton" onclick="resetTab()" name="cloakButton"><i class="fa fa-redo-alt"></i></button>
    </div>
    <div>
        <a href="/astrox" class="picture">
            Schoology
        </a>
    </div>

    <p class="settingsP">
        Here you can change the tab title and icon to your liking!
    </p>

    <footer>
        <p>Made by DamienVesper#5225.</p>
    </footer>

    <script src="/assets/js/index.js"></script>
</body>
</html>
